In [1]:
import pandas as pd
import urllib.parse

In [2]:
csv = pd.read_csv('disney_movies_total_gross.csv')
csv['uri'] = csv['movie_title'].apply(lambda s : ''.join(ch for ch in s if ch.isalnum()))
csv.head()

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross,uri
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251,SnowWhiteandtheSevenDwarfs
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052,Pinocchio
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808,Fantasia
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579,SongoftheSouth
4,Cinderella,1950-02-15,Drama,G,85000000,920608730,Cinderella

In [6]:
csv['genre'] = csv['genre'].apply(lambda s : ''.join(ch for ch in s if ch.isalnum()))
csv.head()

TypeError: 'float' object is not iterable

In [8]:
csv.head(10)

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross,uri
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251,SnowWhiteandtheSevenDwarfs
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052,Pinocchio
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808,Fantasia
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579,SongoftheSouth
4,Cinderella,1950-02-15,Drama,G,85000000,920608730,Cinderella
5,"20,000 Leagues Under the Sea",1954-12-23,Adventure,NaN,28200000,528279994,20000LeaguesUndertheSea
6,Lady and the Tramp,1955-06-22,Drama,G,93600000,1236035515,LadyandtheTramp
7,Sleeping Beauty,1959-01-29,Drama,NaN,9464608,21505832,SleepingBeauty
8,101 Dalmatians,1961-01-25,Comedy,G,153000000,1362870985,101Dalmatians
9,The Absent Minded Professor,1961-03-16,Comedy,NaN,25381407,310094574,TheAbsentMindedProfessor

In [3]:
csv.to_csv('disney_movies_total_gross.csv', index=False)

In [4]:
csv['genre'].unique()

array(['Musical', 'Adventure', 'Drama', 'Comedy', nan, 'Action', 'Horror',
       'Romantic Comedy', 'Thriller/Suspense', 'Western', 'Black Comedy',
       'Documentary', 'Concert/Performance'], dtype=object)